:root {
  font-size: 62.5%;
  --dark-color: #112;
  --primary-color-one: #111;
  --primary-color-two: #1e8b8c;
  /*#4672fe  #69d6ac*/
  --primary-color-three: #351c75;
  --secondary-color-one: #69d6ac;
  --secondary-color-one-transparent: rgba(105, 214, 172, 0.2);
  /*#e69138  #fc9e3e*/

  --secondary-color-two: #15151d;
  --light-color: #e0e0e0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Sogeo UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  background-color: var(--primary-color-one);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 7rem;
}

header nav {
  margin: 1rem 0;
  background-color: var(--primary-color-two);
  width: 50%;
  border-radius: 50px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  /* Start animation for border-radius */
  animation: cornerChange 4s infinite; /* Adjust duration as needed */
}

@keyframes cornerChange {
  0% {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px; /* All corners rounded */
  }
  20% {
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px; /* Top left square */
  }
  40% {
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px; /* Top right square */
  }
  60% {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50px; /* Bottom right square */
  }
  80% {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0; /* Bottom left square */
  }
  100% {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px; /* All corners rounded again */
  }
}

nav .nav-list {
  list-style: none;
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
}

nav .nav-list li a {
  color: var(--light-color); /* Text color */
  text-decoration: none; /* Remove underline */
}

main section.hero-section {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 12rem 0;
  position: relative;
}

.hero-section::before {
  content: "";
  background-image: url("../images/hero-background.webp");
  position: absolute;
  top: -19rem;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 190%;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
}

.hero-section .hero-slogan {
  font-size: clamp(
    3rem,
    6vw,
    8rem
  ); /* min size: 4rem, scaling up with viewport width, max size: 8rem */

  color: var(--light-color);
  margin-top: 17rem;
  margin-bottom: 12rem;
}

.hero-slogan span.container {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  height: 1.2em; /* Adjust height to fit text */
  background-color: var(--primary-color-two);
  padding: 0 0 15px 10px;
  align-items: center;
  transition: width 0.5s ease; /* Smooth transition for width changes */
  white-space: nowrap; /* Prevent line breaks for longer text */
  width: auto; /* Allow width to change dynamically */
  border-radius: 1rem;
}

span.container #animated-text {
  animation: slideUp 2s infinite;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Hero Buttons */
main .hero-section div.hero-buttons-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7rem 0;
  gap: 3rem;
  padding: 0 5rem;
  flex-wrap: wrap; /* Ensures buttons wrap to the next line on smaller screens */
}

div.hero-buttons-div .button {
  padding: 1.5rem 5rem;
  border-radius: 10px;
  background-color: var(--secondary-color-one);
  cursor: pointer;
  border: none;
  flex-basis: 20rem; /* Sets an initial width */
  flex-grow: 1; /* Allows buttons to grow to fill available space */
  flex-shrink: 1; /* Allows buttons to shrink if space is limited */
  min-width: 22rem; /* Sets a minimum width before wrapping */
  max-width: 26rem;
  position: relative; /* Necessary for positioning the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element doesn’t overflow */
  z-index: 0; /* Base z-index for the button */
}

div.hero-buttons-div .button a {
  transition: color 0.5s ease; /* Smooth text color transition */
}

div.hero-buttons-div .button:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

div.hero-buttons-div .button:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

/* Before Pseudo-Element for Hover Effect */
div.hero-buttons-div .button::before {
  content: "";
  position: absolute;
  top: -20%; /* Start from below the button */
  left: 0;
  width: 100%;
  height: 250%;
  background-color: var(--primary-color-two); /* Hover color */
  transition: top 0.2s ease, transform 0.5s ease; /* Ensure transition is applied */
  z-index: -1; /* Position behind <a> of button */
  border-radius: inherit; /* Match the button's border radius */
  clip-path: ellipse(100% 50% at 50% 100%); /* Creates a rounded wave shape */
}

/* Button's Before in Button's Hover state*/
div.hero-buttons-div .button:hover::before {
  top: 0; /* Slide to cover the button */
  transform: translateY(-60%); /* Slide the wave upwards */
}

div.hero-buttons-div .button a {
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
}

div.hero-buttons-div .button:hover a {
  color: var(--light-color);
}

/*Services Section*/
section.services-section div.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 3rem 5rem;
  flex-wrap: wrap;
}

/* General Card Enhancements */
.services-section div.cards .card {
  flex-basis: 30rem;
  max-width: 40rem;
  min-width: 20rem;
  height: 40rem;
  background-color: white;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  color: var(--light-color);
  cursor: pointer;
}

.services-section div.cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/* Gradient Overlay for Better Text Visibility */
.services-section div.cards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  z-index: 1;
  transition: opacity 0.5s ease;
}

.services-section div.cards .card:hover::before {
  opacity: 0.8;
}

/* Card Content Styling */
.services-section div.cards .card .card-heading {
  font-size: 3.5em;
  line-height: 4rem;
  color: var(--primary-color);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
}

.services-section div.cards .card .card-description {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: white;
  position: relative;
  z-index: 2;
  line-height: 1.6;
}

/* Button Styling */
.services-section div.cards .card .card-button {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color-three);
  color: white;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.services-section div.cards .card .card-button:hover {
  transform: translateY(-3px);
  background-color: var(--primary-color-two);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.services-section .card.card1 {
  background-image: url("../images/video-editing.webp");
}
.services-section .card.card2 {
  background-image: url("../images/marketing.webp");
}
.services-section .card.card3 {
  background-image: url("../images/web-development.webp");
}

.services-section .card.card4 {
  background-image: url("../images/web-design.webp");
}

.services-section .card.card5 {
  background-image: url("../images/seo.webp");
}

.services-section .card.card6 {
  background-image: url("../images/branding.webp");
}

.services-section .card.card7 {
  background-image: url("../images/product-design.webp");
}

.services-section .card.card8 {
  background-image: url("../images/logo-design.webp");
}

.services-section .card.card9 {
  background-image: url("../images/social-media-management.webp");
}

.services-section .heading-container {
  display: flex;
  justify-content: center;
}
.services-section .heading-container .heading {
  font-size: 4rem;
  color: var(--light-color);
}

/* Aim Text Section */
section.aim-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10rem 5rem;
  background-color: white;
}

.aim-text {
  font-size: 4rem;
}

.aim-text-brand-name {
  color: white;
  background-color: var(--secondary-color-one);
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Client Reviews Section */
section.container {
  background-color: var(--primary-color-two);
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-holder {
  user-select: none;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  text-decoration-thickness: 0.2s ease;
  height: 500px;
  margin: 0 2rem;
}

.card-list .card-item .card-holder:hover {
  border-color: var(--primary-color-three);
}

.card-wrapper {
  padding: 3rem 0;
}

.badge {
  background-color: var(--secondary-color-one-transparent);
  color: var(--secondary-color-one);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin: 1rem 0;
  font-weight: 500;
  display: inline-block;
  align-self: flex-start; /* Prevent stretching in a flex container */
}

.client-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.client-image.image6 {
  object-position: center;
}

.client-name {
  font-size: 2rem;
  color: var(--dark-color);
}

/* Client Logos Section*/

.client-logos-section {
  background-color: var(--light-color);
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 5rem 2rem;
}

.client-logos-section .heading {
  font-size: 4rem;
}

.client-logos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.client-logos-container p {
  font-size: 2rem;
  color: var(--dark-color);
}

.client-logo {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.client-logo.logo4 {
  background-color: var(--primary-color-two);
}

.client-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.client-logo:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Client Count Section */
section.client-count-section {
  background-color: var(--primary-color-three);
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-count-section p {
  font-size: 4rem;
  color: var(--light-color);
}

span.client-count {
  background-color: var(--secondary-color-one);
  display: inline-block;
  line-height: 4.5rem;
  border-radius: 5%;
  color: var(--dark-color);
  font-weight: 600;
}

span.client-incremented-count {
  background-color: var(--secondary-color-one);
  display: inline-block;
  line-height: 4.5rem;
  border-radius: 5%;
  color: var(--dark-color);
  font-weight: 600;
}

.client-count-section button.contact-us {
  padding: 1.5rem 4rem;
  margin-top: 3rem;
  border-radius: 10px;
  background-color: var(--secondary-color-one);
  cursor: pointer;
  border: none;
  flex-basis: 15rem; /* Sets an initial width */
  flex-grow: 1; /* Allows buttons to grow to fill available space */
  flex-shrink: 1; /* Allows buttons to shrink if space is limited */
  min-width: 10rem; /* Sets a minimum width before wrapping */
  max-width: 20rem;

  position: relative; /* Necessary for positioning the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element doesn’t overflow */
  z-index: 0; /* Base z-index for the button */
}

.client-count-section button.contact-us a {
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
}

.client-count-section button.contact-us:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.client-count-section button.contact-us:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

/* Before Pseudo-Element for Hover Effect */
.client-count-section button.contact-us::before {
  content: "";
  position: absolute;
  top: -20%; /* Start from below the button */
  left: 0;
  width: 100%;
  height: 250%;
  background-color: var(--primary-color-two); /* Hover color */
  transition: top 0.2s ease, transform 0.5s ease; /* Ensure transition is applied */
  z-index: -1; /* Position behind <a> of button */
  border-radius: inherit; /* Match the button's border radius */
  clip-path: ellipse(100% 50% at 50% 100%); /* Creates a rounded wave shape */
}

/* Button's Before in Button's Hover state*/
.client-count-section button.contact-us:hover::before {
  top: 0; /* Slide to cover the button */
  transform: translateY(-60%); /* Slide the wave upwards */
}

.client-count-section button.contact-us:hover a {
  color: var(--light-color);
}

/* Footer Section */
section.footer {
  background-color: var(--dark-color);
  padding: 10rem 5rem;
}
